In [25]:
import scrapy
import pandas as pd
import numpy as np
import json
import csv

In [40]:
URL = "https://www.basketball-reference.com/teams/DAL/2022_games.html"

In [41]:
def parse(URL):
    try:
        return pd.read_html(URL)
    except:
        print("didn't work")
        try:
            return pd.read_html(URL)
        except:
            print("xml didnt work as well")

In [43]:
parse(URL)

[     G               Date  Start (ET)  Unnamed: 3 Unnamed: 4 Unnamed: 5  \
 0    1  Thu, Oct 21, 2021       7:30p         NaN  Box Score          @
 1    2  Sat, Oct 23, 2021       7:30p         NaN  Box Score          @
 2    3  Tue, Oct 26, 2021       8:30p         NaN  Box Score        NaN
 3    4  Thu, Oct 28, 2021       8:30p         NaN  Box Score        NaN
 4    5  Fri, Oct 29, 2021      10:00p         NaN  Box Score          @
 ..  ..                ...         ...         ...        ...        ...
 81  79   Sun, Apr 3, 2022       1:00p         NaN        NaN          @
 82  80   Wed, Apr 6, 2022       7:00p         NaN        NaN          @
 83   G               Date  Start (ET)         NaN        NaN        NaN
 84  81   Fri, Apr 8, 2022       8:30p         NaN        NaN        NaN
 85  82  Sun, Apr 10, 2022         NaN         NaN        NaN        NaN

                   Opponent Unnamed: 7 Unnamed: 8   Tm  Opp    W    L  Streak  \
 0            Atlanta Hawks          L        NaN   87  113    0    1     L 1
 1          Toronto Raptors          W        NaN  103   95    1    1     W 1
 2          Houston Rockets          W        NaN  116  106    2    1     W 2
 3        San Antonio Spurs          W        NaN  104   99    3    1     W 3
 4           Denver Nuggets          L        NaN   75  106    3    2     L 1
 ..                     ...        ...        ...  ...  ...  ...  ...     ...
 81         Milwaukee Bucks        NaN        NaN  NaN  NaN  NaN  NaN     NaN
 82         Detroit Pistons        NaN        NaN  NaN  NaN  NaN  NaN     NaN
 83                Opponent        NaN        NaN   Tm  Opp    W    L  Streak
 84  Portland Trail Blazers        NaN        NaN  NaN  NaN  NaN  NaN     NaN
 85       San Antonio Spurs        NaN        NaN  NaN  NaN  NaN  NaN     NaN

     Notes
 0     NaN
 1     NaN
 2     NaN
 3     NaN
 4     NaN
 ..    ...
 81    NaN
 82    NaN
 83  Notes
 84    NaN
 85    NaN

 [86 rows x 15 columns]]

In [46]:
parse("http://bkref.com/pi/shareit/5MSQF")

[     G               Date Start (ET)  Unnamed: 3 Unnamed: 4 Unnamed: 5  \
 0    1  Thu, Oct 21, 2021      7:30p         NaN  Box Score          @
 1    2  Sat, Oct 23, 2021      7:30p         NaN  Box Score          @
 2    3  Tue, Oct 26, 2021      8:30p         NaN  Box Score        NaN
 3    4  Thu, Oct 28, 2021      8:30p         NaN  Box Score        NaN
 4    5  Fri, Oct 29, 2021     10:00p         NaN  Box Score          @
 ..  ..                ...        ...         ...        ...        ...
 77  78   Fri, Apr 1, 2022      7:00p         NaN        NaN          @
 78  79   Sun, Apr 3, 2022      1:00p         NaN        NaN          @
 79  80   Wed, Apr 6, 2022      7:00p         NaN        NaN          @
 80  81   Fri, Apr 8, 2022      8:30p         NaN        NaN        NaN
 81  82  Sun, Apr 10, 2022        NaN         NaN        NaN        NaN

                   Opponent Unnamed: 7 Unnamed: 8     Tm    Opp    W    L  \
 0            Atlanta Hawks          L        NaN   87.0  113.0  0.0  1.0
 1          Toronto Raptors          W        NaN  103.0   95.0  1.0  1.0
 2          Houston Rockets          W        NaN  116.0  106.0  2.0  1.0
 3        San Antonio Spurs          W        NaN  104.0   99.0  3.0  1.0
 4           Denver Nuggets          L        NaN   75.0  106.0  3.0  2.0
 ..                     ...        ...        ...    ...    ...  ...  ...
 77      Washington Wizards        NaN        NaN    NaN    NaN  NaN  NaN
 78         Milwaukee Bucks        NaN        NaN    NaN    NaN  NaN  NaN
 79         Detroit Pistons        NaN        NaN    NaN    NaN  NaN  NaN
 80  Portland Trail Blazers        NaN        NaN    NaN    NaN  NaN  NaN
 81       San Antonio Spurs        NaN        NaN    NaN    NaN  NaN  NaN

    Streak  Notes
 0     L 1    NaN
 1     W 1    NaN
 2     W 2    NaN
 3     W 3    NaN
 4     L 1    NaN
 ..    ...    ...
 77    NaN    NaN
 78    NaN    NaN
 79    NaN    NaN
 80    NaN    NaN
 81    NaN    NaN

 [82 rows x 15 columns]]

In [29]:
class ScrapeTableSpider(scrapy.Spider):
    name = 'scrape-table'
    allowed_domains = ['https://getbootstrap.com/docs/4.0/content/tables']
    start_urls = ['http://https://getbootstrap.com/docs/4.0/content/tables/']
 
 
    def start_requests(self):
        urls = [
            'https://getbootstrap.com/docs/4.0/content/tables',
        ]
        for url in urls:
            yield scrapy.Request(url=url, callback=self.parse)
 
    def parse(self, response):
        for row in response.xpath('//*[@class="table table-striped"]//tbody/tr'):
            yield {
                'first' : row.xpath('td[1]//text()').extract_first(),
                'last': row.xpath('td[2]//text()').extract_first(),
                'handle' : row.xpath('td[3]//text()').extract_first(),
            }

In [36]:
data = ScrapeTableSpider()
response = data.start_requests()
parsed_data = data.parse(response)
parsed_data