In [108]:
import time
import math
import random as rand
import numpy as np

In [64]:
# range(lb,ub), wobei die obere Grenze exklusive ist.
# Also range() == [a,b) : a <= x < b (rechtsoffenes Intervall
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [65]:
x = 2
y = 3.2
z = 2 * 3.2
type(z)

float

In [66]:
# range(a,b,step_expression)
for i in range(7,15,2):
    print(i)

7
9
11
13

In [67]:
# var iterates over a string where each char is a string dt
var = 131
ds = 0
for i in str(var):
    print(type(i))

<class 'str'>
<class 'str'>
<class 'str'>

In [68]:
# in order to sum up each digit in var we need to 
# convert 131 into a string, becasuse integer datatypes are not iterable
# then we create var which holds the 
var = 131
ds = 0
for i in str(var):
    ds += int(i)
ds

5

In [69]:
# Function mapâ€™s first argument is a function that receives one value and returns a new value.
list(map(int, "12345"))

[1, 2, 3, 4, 5]

In [70]:
i = 0
def f(x):
    return x * 2
result = list(map(f, map(f,range(5))))
result

[0, 4, 8, 12, 16]

In [71]:
result = list(map(lambda x : x % 2 != 0, [0,1,2,3,4,5,6]))
result

[False, True, False, True, False, True, False]

In [72]:
def sort_num(number):
    return str(sorted(str(number), reverse=True))
sort_num(1234)

"['4', '3', '2', '1']"

In [73]:
list1 = ["a","b",3]
var = "132"
var_2 = 2

In [74]:
all(list1)

True

In [75]:
dict_1 = {1: "Apple", 2 : "Orange"}

In [105]:
dict_1[1] = "Pineapple"
for i,j in dict_1.items():
    print(f"The key = {i} and its associated value = {j}")

The key = 1 and its associated value = Pineapple
The key = 2 and its associated value = Orange

In [107]:
rand.seed(2)
# we declare and initialize a list using list comprehension
for j in [rand.randint(1,10) for i in range(15)]:
    print(i, end=" ")

2 2 2 2 2 2 2 2 2 2 2 2 2 2 2

In [184]:
rand.seed(1)
list_3 = [rand.randint(1,10) for x in range(10)]
list_3

[3, 10, 2, 5, 2, 8, 8, 8, 7, 4]

In [186]:
list(filter(lambda x : x % 2 == 0 , list_3))

[10, 2, 2, 8, 8, 8, 4]