# Lecture 9
# Section 2: Summarization, Aggregation and Grouping of Data

In this section we will look for ways to operate functions on the rows of a DataFrame, as well as to summarise and group the DataFrame.

## Apply a function to every row in a Pandas dataframe

We often want to map across all of the rows in a DataFrame. And Pandas has a function for that: `apply`.

Let's look at an example.

###  United States Census Data

Let's look at some census data. The data is stored in the file `census.csv` and comes from the *United States Census Bureau*. In particular, this is a breakdown of the population level data at the US county level.

In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('data/census.csv')
df = df[df['SUMLEV']==50]
df.tail()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
3188,50,4,8,56,37,Wyoming,Sweetwater County,43806,43806,43593,...,1.072643,16.243199,-5.339774,-14.252889,-14.248864,1.255221,16.243199,-5.295460,-14.075283,-14.070195
3189,50,4,8,56,39,Wyoming,Teton County,21294,21294,21297,...,-1.589565,0.972695,19.525929,14.143021,-0.564849,0.654527,2.408578,21.160658,16.308671,1.520747
3190,50,4,8,56,41,Wyoming,Uinta County,21118,21118,21102,...,-17.755986,-4.916350,-6.902954,-14.215862,-12.127022,-18.136812,-5.536861,-7.521840,-14.740608,-12.606351
3191,50,4,8,56,43,Wyoming,Washakie County,8533,8533,8545,...,-11.637475,-0.827815,-2.013502,-17.781491,1.682288,-11.990126,-1.182592,-2.250385,-18.020168,1.441961
3192,50,4,8,56,45,Wyoming,Weston County,7208,7208,7181,...,-11.752361,-8.040059,12.372583,1.533635,6.935294,-12.032179,-8.040059,12.372583,1.533635,6.935294

In this DataFrame we have five columns for population estimates. Each column corresponds to one year of estimates. It makes sense to create some new columns for minimum or maximum values, and the `apply` function is an easy way to do this.

In [2]:
import pandas as pd
import numpy as np
df = pd.read_csv('data/census.csv')
df = df[df['SUMLEV']==50]
df.tail()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
3188,50,4,8,56,37,Wyoming,Sweetwater County,43806,43806,43593,...,1.072643,16.243199,-5.339774,-14.252889,-14.248864,1.255221,16.243199,-5.295460,-14.075283,-14.070195
3189,50,4,8,56,39,Wyoming,Teton County,21294,21294,21297,...,-1.589565,0.972695,19.525929,14.143021,-0.564849,0.654527,2.408578,21.160658,16.308671,1.520747
3190,50,4,8,56,41,Wyoming,Uinta County,21118,21118,21102,...,-17.755986,-4.916350,-6.902954,-14.215862,-12.127022,-18.136812,-5.536861,-7.521840,-14.740608,-12.606351
3191,50,4,8,56,43,Wyoming,Washakie County,8533,8533,8545,...,-11.637475,-0.827815,-2.013502,-17.781491,1.682288,-11.990126,-1.182592,-2.250385,-18.020168,1.441961
3192,50,4,8,56,45,Wyoming,Weston County,7208,7208,7181,...,-11.752361,-8.040059,12.372583,1.533635,6.935294,-12.032179,-8.040059,12.372583,1.533635,6.935294

First we write a function that 
* takes a certain row of data, 
* finds a minimum and maximum value and 
* returns a new row of data. 

We call this function `min_max`:
* we can create a slice of a row by selecting the population columns 
* then we use the NumPy `min` and `max` functions and 
* we create a new series with a label that represents the new values that we want to apply

In [3]:
import numpy as np
def min_max(row):
    data = row[['POPESTIMATE2010',
                'POPESTIMATE2011',
                'POPESTIMATE2012',
                'POPESTIMATE2013',
                'POPESTIMATE2014',
                'POPESTIMATE2015']]
    return pd.Series({'min': np.min(data), 'max': np.max(data)})

Then we just need to call `apply` on the DataFrame. <br>
Now we have to be careful: We have talked about the zero axis being the rows of the DataFrame. But this parameter here is the parameter of the index (the columns) to be used. So to apply to all rows, pass `axis=1`.

In [4]:
df.apply(min_max, axis=1)

         min     max
1      54660   55347
2     183193  203709
3      26489   27341
4      22512   22861
5      57373   57776
...      ...     ...
3188   43593   45162
3189   21297   23125
3190   20822   21102
3191    8316    8545
3192    7065    7234

[3142 rows x 2 columns]

Please note: `apply` is rarely used in full function definitions, as we have done. Instead, it is usually used in `lambda` functions.

Here is a one line example of how to calculate the maximum of columns using the `apply` function

In [5]:
import numpy as np
rows = ['POPESTIMATE2010',
        'POPESTIMATE2011',
        'POPESTIMATE2012',
        'POPESTIMATE2013',
        'POPESTIMATE2014',
        'POPESTIMATE2015']
df.apply(lambda x: np.max(x[rows]), axis=1)

1        55347
2       203709
3        27341
4        22861
5        57776
         ...
3188     45162
3189     23125
3190     21102
3191      8545
3192      7234
Length: 3142, dtype: int64

You can imagine how you can chain multiple `apply` calls with `lambda`s to create a readable yet concise data manipulation script.

## Summarizing the DataFrame

Once the data has been loaded into Python, Pandas makes the calculation of different statistics very simple. For example, `mean`, `max`, `min`, *standard deviations* and more for columns are easily calculable:

In [26]:
import pandas as pd
import numpy as np
df = pd.read_csv('data/census.csv')
df = df[df['SUMLEV']==50]

In [34]:
df['CENSUS2010POP'][df['STNAME'] == 'Florida']

330    247336
331     27115
332    168852
333     28520
334    543376
        ...
392     15535
393    494593
394     30776
395     55043
396     24896
Name: CENSUS2010POP, Length: 67, dtype: int64

In [38]:
df['CENSUS2010POP'][df['STNAME'] == "Florida"]

330    247336
331     27115
332    168852
333     28520
334    543376
        ...
392     15535
393    494593
394     30776
395     55043
396     24896
Name: CENSUS2010POP, Length: 67, dtype: int64

In [8]:
df['CENSUS2010POP'][df['STNAME'] == 'Florida'].max()

2496435

In [9]:
df['CENSUS2010POP'][df['STNAME'] == 'Florida'].min()

8365

In [10]:
df['CENSUS2010POP'][df['STNAME'] == 'Florida'].std()

445755.5656135222

The need for custom functions is minimal unless you have very specific requirements. The full range of basic statistics that are quickly calculable and built into the base Pandas package are:

| Function | Description                         |
|----------|-------------------------------------|
| count    | Number of non-null observations     |
| sum      | Sum of values                       |
| mean     | Mean of values                      |
| mad      | Mean absolute deviation             |
| median   | Arithmetic median of values         |
| min      | Minimum                             |
| max      | Maximum                             |
| mode     | Mode                                |
| abs      | Absolute Value                      |
| prod     | Product of values                   |
| std      | Unbiased standard deviation         |
| var      | Unbiased variance                   |
| sem      | Unbiased standard error of the mean |
| skew     | Unbiased skewness (3rd moment)      |
| kurt     | Unbiased kurtosis (4th moment)      |
| quantile | Sample quantile (value at %)        |
| cumsum   | Cumulative sum                      |
| cumprod  | Cumulative product                  |
| cummax   | Cumulative maximum                  |
| cummin   | Cumulative minimum                  |

The `describe()` function is a useful summary tool that quickly displays statistics for each variable or group to which it is applied. The output of `describe()` varies depending on whether you apply it to a numeric or character column.

In [11]:
df['CENSUS2010POP'][df['STNAME'] == 'Florida'].describe()

count    6.700000e+01
mean     2.806166e+05
std      4.457556e+05
min      8.365000e+03
25%      2.812550e+04
50%      9.878600e+04
75%      3.095695e+05
max      2.496435e+06
Name: CENSUS2010POP, dtype: float64

For numeric data, the resultâ€™s index will include count, mean, std, min, max as well as lower, 50 and upper percentiles. By default the lower percentile is 25 and the upper percentile is 75. The 50 percentile is the same as the median.

## Group by

In [12]:
import pandas as pd
import numpy as np
df = pd.read_csv('data/census.csv')
df = df[df['SUMLEV']==50]
df.tail()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
3188,50,4,8,56,37,Wyoming,Sweetwater County,43806,43806,43593,...,1.072643,16.243199,-5.339774,-14.252889,-14.248864,1.255221,16.243199,-5.295460,-14.075283,-14.070195
3189,50,4,8,56,39,Wyoming,Teton County,21294,21294,21297,...,-1.589565,0.972695,19.525929,14.143021,-0.564849,0.654527,2.408578,21.160658,16.308671,1.520747
3190,50,4,8,56,41,Wyoming,Uinta County,21118,21118,21102,...,-17.755986,-4.916350,-6.902954,-14.215862,-12.127022,-18.136812,-5.536861,-7.521840,-14.740608,-12.606351
3191,50,4,8,56,43,Wyoming,Washakie County,8533,8533,8545,...,-11.637475,-0.827815,-2.013502,-17.781491,1.682288,-11.990126,-1.182592,-2.250385,-18.020168,1.441961
3192,50,4,8,56,45,Wyoming,Weston County,7208,7208,7181,...,-11.752361,-8.040059,12.372583,1.533635,6.935294,-12.032179,-8.040059,12.372583,1.533635,6.935294

By mastering the `groupby()` functionality of the Pandas, power is placed in your hands. Groupby divides the data into groups, depending on a variable of your choice. For example, the expression `data.groupby('STNAME')` divides our current DataFrame into state names.

The function `groupby()` returns a GroupBy object, but essentially describes how the rows of the original data set were split. The GroupBy object `.groups` variable is a dictionary whose keys are the computed unique groups and the corresponding values are the `axis` labels that belong to each group. For example:

In [47]:
df.groupby('STNAME').groups.items()

dict_items([('Alabama', Int64Index([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
            18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
            35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
            52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67],
           dtype='int64')), ('Alaska', Int64Index([69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85,
            86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97],
           dtype='int64')), ('Arizona', Int64Index([99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111,
            112, 113],
           dtype='int64')), ('Arkansas', Int64Index([115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127,
            128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140,
            141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153,
            154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166,
            167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179,
            180, 181, 182, 183, 184, 185, 186, 187, 188, 189],
           dtype='int64')), ('California', Int64Index([191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203,
            204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216,
            217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229,
            230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242,
            243, 244, 245, 246, 247, 248],
           dtype='int64')), ('Colorado', Int64Index([250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262,
            263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275,
            276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288,
            289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301,
            302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313],
           dtype='int64')), ('Connecticut', Int64Index([315, 316, 317, 318, 319, 320, 321, 322], dtype='int64')), ('Delaware', Int64Index([324, 325, 326], dtype='int64')), ('District of Columbia', Int64Index([328], dtype='int64')), ('Florida', Int64Index([330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342,
            343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355,
            356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368,
            369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381,
            382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394,
            395, 396],
           dtype='int64')), ('Georgia', Int64Index([398, 399, 400, 401, 402, 403, 404, 405, 406, 407,
            ...
            547, 548, 549, 550, 551, 552, 553, 554, 555, 556],
           dtype='int64', length=159)), ('Hawaii', Int64Index([558, 559, 560, 561, 562], dtype='int64')), ('Idaho', Int64Index([564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576,
            577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589,
            590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602,
            603, 604, 605, 606, 607],
           dtype='int64')), ('Illinois', Int64Index([609, 610, 611, 612, 613, 614, 615, 616, 617, 618,
            ...
            701, 702, 703, 704, 705, 706, 707, 708, 709, 710],
           dtype='int64', length=102)), ('Indiana', Int64Index([712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724,
            725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737,
            738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750,
            751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763,
            764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776,
            777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789,
            790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802,
            803],
           dtype='int64')), ('Iowa', Int64Index([805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817,
            818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830,
            831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843,
            844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856,
            857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869,
            870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882,
            883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895,
            896, 897, 898, 899, 900, 901, 902, 903],
           dtype='int64')), ('Kansas', Int64Index([ 905,  906,  907,  908,  909,  910,  911,  912,  913,  914,
            ...
            1000, 1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009],
           dtype='int64', length=105)), ('Kentucky', Int64Index([1011, 1012, 1013, 1014, 1015, 1016, 1017, 1018, 1019, 1020,
            ...
            1121, 1122, 1123, 1124, 1125, 1126, 1127, 1128, 1129, 1130],
           dtype='int64', length=120)), ('Louisiana', Int64Index([1132, 1133, 1134, 1135, 1136, 1137, 1138, 1139, 1140, 1141, 1142,
            1143, 1144, 1145, 1146, 1147, 1148, 1149, 1150, 1151, 1152, 1153,
            1154, 1155, 1156, 1157, 1158, 1159, 1160, 1161, 1162, 1163, 1164,
            1165, 1166, 1167, 1168, 1169, 1170, 1171, 1172, 1173, 1174, 1175,
            1176, 1177, 1178, 1179, 1180, 1181, 1182, 1183, 1184, 1185, 1186,
            1187, 1188, 1189, 1190, 1191, 1192, 1193, 1194, 1195],
           dtype='int64')), ('Maine', Int64Index([1197, 1198, 1199, 1200, 1201, 1202, 1203, 1204, 1205, 1206, 1207,
            1208, 1209, 1210, 1211, 1212],
           dtype='int64')), ('Maryland', Int64Index([1214, 1215, 1216, 1217, 1218, 1219, 1220, 1221, 1222, 1223, 1224,
            1225, 1226, 1227, 1228, 1229, 1230, 1231, 1232, 1233, 1234, 1235,
            1236, 1237],
           dtype='int64')), ('Massachusetts', Int64Index([1239, 1240, 1241, 1242, 1243, 1244, 1245, 1246, 1247, 1248, 1249,
            1250, 1251, 1252],
           dtype='int64')), ('Michigan', Int64Index([1254, 1255, 1256, 1257, 1258, 1259, 1260, 1261, 1262, 1263, 1264,
            1265, 1266, 1267, 1268, 1269, 1270, 1271, 1272, 1273, 1274, 1275,
            1276, 1277, 1278, 1279, 1280, 1281, 1282, 1283, 1284, 1285, 1286,
            1287, 1288, 1289, 1290, 1291, 1292, 1293, 1294, 1295, 1296, 1297,
            1298, 1299, 1300, 1301, 1302, 1303, 1304, 1305, 1306, 1307, 1308,
            1309, 1310, 1311, 1312, 1313, 1314, 1315, 1316, 1317, 1318, 1319,
            1320, 1321, 1322, 1323, 1324, 1325, 1326, 1327, 1328, 1329, 1330,
            1331, 1332, 1333, 1334, 1335, 1336],
           dtype='int64')), ('Minnesota', Int64Index([1338, 1339, 1340, 1341, 1342, 1343, 1344, 1345, 1346, 1347, 1348,
            1349, 1350, 1351, 1352, 1353, 1354, 1355, 1356, 1357, 1358, 1359,
            1360, 1361, 1362, 1363, 1364, 1365, 1366, 1367, 1368, 1369, 1370,
            1371, 1372, 1373, 1374, 1375, 1376, 1377, 1378, 1379, 1380, 1381,
            1382, 1383, 1384, 1385, 1386, 1387, 1388, 1389, 1390, 1391, 1392,
            1393, 1394, 1395, 1396, 1397, 1398, 1399, 1400, 1401, 1402, 1403,
            1404, 1405, 1406, 1407, 1408, 1409, 1410, 1411, 1412, 1413, 1414,
            1415, 1416, 1417, 1418, 1419, 1420, 1421, 1422, 1423, 1424],
           dtype='int64')), ('Mississippi', Int64Index([1426, 1427, 1428, 1429, 1430, 1431, 1432, 1433, 1434, 1435, 1436,
            1437, 1438, 1439, 1440, 1441, 1442, 1443, 1444, 1445, 1446, 1447,
            1448, 1449, 1450, 1451, 1452, 1453, 1454, 1455, 1456, 1457, 1458,
            1459, 1460, 1461, 1462, 1463, 1464, 1465, 1466, 1467, 1468, 1469,
            1470, 1471, 1472, 1473, 1474, 1475, 1476, 1477, 1478, 1479, 1480,
            1481, 1482, 1483, 1484, 1485, 1486, 1487, 1488, 1489, 1490, 1491,
            1492, 1493, 1494, 1495, 1496, 1497, 1498, 1499, 1500, 1501, 1502,
            1503, 1504, 1505, 1506, 1507],
           dtype='int64')), ('Missouri', Int64Index([1509, 1510, 1511, 1512, 1513, 1514, 1515, 1516, 1517, 1518,
            ...
            1614, 1615, 1616, 1617, 1618, 1619, 1620, 1621, 1622, 1623],
           dtype='int64', length=115)), ('Montana', Int64Index([1625, 1626, 1627, 1628, 1629, 1630, 1631, 1632, 1633, 1634, 1635,
            1636, 1637, 1638, 1639, 1640, 1641, 1642, 1643, 1644, 1645, 1646,
            1647, 1648, 1649, 1650, 1651, 1652, 1653, 1654, 1655, 1656, 1657,
            1658, 1659, 1660, 1661, 1662, 1663, 1664, 1665, 1666, 1667, 1668,
            1669, 1670, 1671, 1672, 1673, 1674, 1675, 1676, 1677, 1678, 1679,
            1680],
           dtype='int64')), ('Nebraska', Int64Index([1682, 1683, 1684, 1685, 1686, 1687, 1688, 1689, 1690, 1691, 1692,
            1693, 1694, 1695, 1696, 1697, 1698, 1699, 1700, 1701, 1702, 1703,
            1704, 1705, 1706, 1707, 1708, 1709, 1710, 1711, 1712, 1713, 1714,
            1715, 1716, 1717, 1718, 1719, 1720, 1721, 1722, 1723, 1724, 1725,
            1726, 1727, 1728, 1729, 1730, 1731, 1732, 1733, 1734, 1735, 1736,
            1737, 1738, 1739, 1740, 1741, 1742, 1743, 1744, 1745, 1746, 1747,
            1748, 1749, 1750, 1751, 1752, 1753, 1754, 1755, 1756, 1757, 1758,
            1759, 1760, 1761, 1762, 1763, 1764, 1765, 1766, 1767, 1768, 1769,
            1770, 1771, 1772, 1773, 1774],
           dtype='int64')), ('Nevada', Int64Index([1776, 1777, 1778, 1779, 1780, 1781, 1782, 1783, 1784, 1785, 1786,
            1787, 1788, 1789, 1790, 1791, 1792],
           dtype='int64')), ('New Hampshire', Int64Index([1794, 1795, 1796, 1797, 1798, 1799, 1800, 1801, 1802, 1803], dtype='int64')), ('New Jersey', Int64Index([1805, 1806, 1807, 1808, 1809, 1810, 1811, 1812, 1813, 1814, 1815,
            1816, 1817, 1818, 1819, 1820, 1821, 1822, 1823, 1824, 1825],
           dtype='int64')), ('New Mexico', Int64Index([1827, 1828, 1829, 1830, 1831, 1832, 1833, 1834, 1835, 1836, 1837,
            1838, 1839, 1840, 1841, 1842, 1843, 1844, 1845, 1846, 1847, 1848,
            1849, 1850, 1851, 1852, 1853, 1854, 1855, 1856, 1857, 1858, 1859],
           dtype='int64')), ('New York', Int64Index([1861, 1862, 1863, 1864, 1865, 1866, 1867, 1868, 1869, 1870, 1871,
            1872, 1873, 1874, 1875, 1876, 1877, 1878, 1879, 1880, 1881, 1882,
            1883, 1884, 1885, 1886, 1887, 1888, 1889, 1890, 1891, 1892, 1893,
            1894, 1895, 1896, 1897, 1898, 1899, 1900, 1901, 1902, 1903, 1904,
            1905, 1906, 1907, 1908, 1909, 1910, 1911, 1912, 1913, 1914, 1915,
            1916, 1917, 1918, 1919, 1920, 1921, 1922],
           dtype='int64')), ('North Carolina', Int64Index([1924, 1925, 1926, 1927, 1928, 1929, 1930, 1931, 1932, 1933, 1934,
            1935, 1936, 1937, 1938, 1939, 1940, 1941, 1942, 1943, 1944, 1945,
            1946, 1947, 1948, 1949, 1950, 1951, 1952, 1953, 1954, 1955, 1956,
            1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967,
            1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978,
            1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989,
            1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000,
            2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011,
            2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022,
            2023],
           dtype='int64')), ('North Dakota', Int64Index([2025, 2026, 2027, 2028, 2029, 2030, 2031, 2032, 2033, 2034, 2035,
            2036, 2037, 2038, 2039, 2040, 2041, 2042, 2043, 2044, 2045, 2046,
            2047, 2048, 2049, 2050, 2051, 2052, 2053, 2054, 2055, 2056, 2057,
            2058, 2059, 2060, 2061, 2062, 2063, 2064, 2065, 2066, 2067, 2068,
            2069, 2070, 2071, 2072, 2073, 2074, 2075, 2076, 2077],
           dtype='int64')), ('Ohio', Int64Index([2079, 2080, 2081, 2082, 2083, 2084, 2085, 2086, 2087, 2088, 2089,
            2090, 2091, 2092, 2093, 2094, 2095, 2096, 2097, 2098, 2099, 2100,
            2101, 2102, 2103, 2104, 2105, 2106, 2107, 2108, 2109, 2110, 2111,
            2112, 2113, 2114, 2115, 2116, 2117, 2118, 2119, 2120, 2121, 2122,
            2123, 2124, 2125, 2126, 2127, 2128, 2129, 2130, 2131, 2132, 2133,
            2134, 2135, 2136, 2137, 2138, 2139, 2140, 2141, 2142, 2143, 2144,
            2145, 2146, 2147, 2148, 2149, 2150, 2151, 2152, 2153, 2154, 2155,
            2156, 2157, 2158, 2159, 2160, 2161, 2162, 2163, 2164, 2165, 2166],
           dtype='int64')), ('Oklahoma', Int64Index([2168, 2169, 2170, 2171, 2172, 2173, 2174, 2175, 2176, 2177, 2178,
            2179, 2180, 2181, 2182, 2183, 2184, 2185, 2186, 2187, 2188, 2189,
            2190, 2191, 2192, 2193, 2194, 2195, 2196, 2197, 2198, 2199, 2200,
            2201, 2202, 2203, 2204, 2205, 2206, 2207, 2208, 2209, 2210, 2211,
            2212, 2213, 2214, 2215, 2216, 2217, 2218, 2219, 2220, 2221, 2222,
            2223, 2224, 2225, 2226, 2227, 2228, 2229, 2230, 2231, 2232, 2233,
            2234, 2235, 2236, 2237, 2238, 2239, 2240, 2241, 2242, 2243, 2244],
           dtype='int64')), ('Oregon', Int64Index([2246, 2247, 2248, 2249, 2250, 2251, 2252, 2253, 2254, 2255, 2256,
            2257, 2258, 2259, 2260, 2261, 2262, 2263, 2264, 2265, 2266, 2267,
            2268, 2269, 2270, 2271, 2272, 2273, 2274, 2275, 2276, 2277, 2278,
            2279, 2280, 2281],
           dtype='int64')), ('Pennsylvania', Int64Index([2283, 2284, 2285, 2286, 2287, 2288, 2289, 2290, 2291, 2292, 2293,
            2294, 2295, 2296, 2297, 2298, 2299, 2300, 2301, 2302, 2303, 2304,
            2305, 2306, 2307, 2308, 2309, 2310, 2311, 2312, 2313, 2314, 2315,
            2316, 2317, 2318, 2319, 2320, 2321, 2322, 2323, 2324, 2325, 2326,
            2327, 2328, 2329, 2330, 2331, 2332, 2333, 2334, 2335, 2336, 2337,
            2338, 2339, 2340, 2341, 2342, 2343, 2344, 2345, 2346, 2347, 2348,
            2349],
           dtype='int64')), ('Rhode Island', Int64Index([2351, 2352, 2353, 2354, 2355], dtype='int64')), ('South Carolina', Int64Index([2357, 2358, 2359, 2360, 2361, 2362, 2363, 2364, 2365, 2366, 2367,
            2368, 2369, 2370, 2371, 2372, 2373, 2374, 2375, 2376, 2377, 2378,
            2379, 2380, 2381, 2382, 2383, 2384, 2385, 2386, 2387, 2388, 2389,
            2390, 2391, 2392, 2393, 2394, 2395, 2396, 2397, 2398, 2399, 2400,
            2401, 2402],
           dtype='int64')), ('South Dakota', Int64Index([2404, 2405, 2406, 2407, 2408, 2409, 2410, 2411, 2412, 2413, 2414,
            2415, 2416, 2417, 2418, 2419, 2420, 2421, 2422, 2423, 2424, 2425,
            2426, 2427, 2428, 2429, 2430, 2431, 2432, 2433, 2434, 2435, 2436,
            2437, 2438, 2439, 2440, 2441, 2442, 2443, 2444, 2445, 2446, 2447,
            2448, 2449, 2450, 2451, 2452, 2453, 2454, 2455, 2456, 2457, 2458,
            2459, 2460, 2461, 2462, 2463, 2464, 2465, 2466, 2467, 2468, 2469],
           dtype='int64')), ('Tennessee', Int64Index([2471, 2472, 2473, 2474, 2475, 2476, 2477, 2478, 2479, 2480, 2481,
            2482, 2483, 2484, 2485, 2486, 2487, 2488, 2489, 2490, 2491, 2492,
            2493, 2494, 2495, 2496, 2497, 2498, 2499, 2500, 2501, 2502, 2503,
            2504, 2505, 2506, 2507, 2508, 2509, 2510, 2511, 2512, 2513, 2514,
            2515, 2516, 2517, 2518, 2519, 2520, 2521, 2522, 2523, 2524, 2525,
            2526, 2527, 2528, 2529, 2530, 2531, 2532, 2533, 2534, 2535, 2536,
            2537, 2538, 2539, 2540, 2541, 2542, 2543, 2544, 2545, 2546, 2547,
            2548, 2549, 2550, 2551, 2552, 2553, 2554, 2555, 2556, 2557, 2558,
            2559, 2560, 2561, 2562, 2563, 2564, 2565],
           dtype='int64')), ('Texas', Int64Index([2567, 2568, 2569, 2570, 2571, 2572, 2573, 2574, 2575, 2576,
            ...
            2811, 2812, 2813, 2814, 2815, 2816, 2817, 2818, 2819, 2820],
           dtype='int64', length=254)), ('Utah', Int64Index([2822, 2823, 2824, 2825, 2826, 2827, 2828, 2829, 2830, 2831, 2832,
            2833, 2834, 2835, 2836, 2837, 2838, 2839, 2840, 2841, 2842, 2843,
            2844, 2845, 2846, 2847, 2848, 2849, 2850],
           dtype='int64')), ('Vermont', Int64Index([2852, 2853, 2854, 2855, 2856, 2857, 2858, 2859, 2860, 2861, 2862,
            2863, 2864, 2865],
           dtype='int64')), ('Virginia', Int64Index([2867, 2868, 2869, 2870, 2871, 2872, 2873, 2874, 2875, 2876,
            ...
            2990, 2991, 2992, 2993, 2994, 2995, 2996, 2997, 2998, 2999],
           dtype='int64', length=133)), ('Washington', Int64Index([3001, 3002, 3003, 3004, 3005, 3006, 3007, 3008, 3009, 3010, 3011,
            3012, 3013, 3014, 3015, 3016, 3017, 3018, 3019, 3020, 3021, 3022,
            3023, 3024, 3025, 3026, 3027, 3028, 3029, 3030, 3031, 3032, 3033,
            3034, 3035, 3036, 3037, 3038, 3039],
           dtype='int64')), ('West Virginia', Int64Index([3041, 3042, 3043, 3044, 3045, 3046, 3047, 3048, 3049, 3050, 3051,
            3052, 3053, 3054, 3055, 3056, 3057, 3058, 3059, 3060, 3061, 3062,
            3063, 3064, 3065, 3066, 3067, 3068, 3069, 3070, 3071, 3072, 3073,
            3074, 3075, 3076, 3077, 3078, 3079, 3080, 3081, 3082, 3083, 3084,
            3085, 3086, 3087, 3088, 3089, 3090, 3091, 3092, 3093, 3094, 3095],
           dtype='int64')), ('Wisconsin', Int64Index([3097, 3098, 3099, 3100, 3101, 3102, 3103, 3104, 3105, 3106, 3107,
            3108, 3109, 3110, 3111, 3112, 3113, 3114, 3115, 3116, 3117, 3118,
            3119, 3120, 3121, 3122, 3123, 3124, 3125, 3126, 3127, 3128, 3129,
            3130, 3131, 3132, 3133, 3134, 3135, 3136, 3137, 3138, 3139, 3140,
            3141, 3142, 3143, 3144, 3145, 3146, 3147, 3148, 3149, 3150, 3151,
            3152, 3153, 3154, 3155, 3156, 3157, 3158, 3159, 3160, 3161, 3162,
            3163, 3164, 3165, 3166, 3167, 3168],
           dtype='int64')), ('Wyoming', Int64Index([3170, 3171, 3172, 3173, 3174, 3175, 3176, 3177, 3178, 3179, 3180,
            3181, 3182, 3183, 3184, 3185, 3186, 3187, 3188, 3189, 3190, 3191,
            3192],
           dtype='int64'))])

In [13]:
df.groupby('STNAME').groups.keys()

dict_keys(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'District of Columbia', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'])

In [55]:
df.groupby(['STNAME']).groups['Florida']

Int64Index([330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342,
            343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355,
            356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368,
            369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381,
            382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394,
            395, 396],
           dtype='int64')

In [14]:
len(df.groupby(['STNAME']).groups['Florida'])

67

The group "Florida" consists of **67** entries.

Functions like `max()`, `min()`, `mean()`, `first()`, `last()` can be quickly applied to the GroupBy object to obtain summary statistics for each group â€“ an immensely useful function. Different variables can be excluded / included from each summary requirement.

Get the first entry for each state with `first()`. <br>
*Please note: to have a clear overview, we only show the first five entries via 'head()' here*

In [15]:
firstdf = df.groupby('STNAME').first()
firstdf.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
STNAME,,,,,,,,,,,,,,,,,,,,,
Alabama,50,3,6,1,1,Autauga County,54571,54571,54660,55253,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
Alaska,50,4,9,2,13,Aleutians East Borough,3141,3141,3169,3254,...,-5.604858,-12.221204,-17.257039,-27.748454,-16.221087,19.305620,8.249313,5.752346,-3.920977,7.509763
Arizona,50,4,8,4,1,Apache County,71518,71518,71766,72387,...,1.775891,1.197250,-20.566049,-5.674114,-11.302431,2.094996,1.500003,-20.220982,-5.326435,-10.939637
Arkansas,50,3,7,5,1,Arkansas County,19019,19018,19014,18883,...,-6.544054,2.799271,-10.483124,-15.687324,-7.460064,-5.488561,3.802783,-9.424222,-14.455896,-6.216720
California,50,4,9,6,1,Alameda County,1510271,1510261,1513754,1533052,...,-0.363660,2.488670,3.743636,4.436457,2.141452,6.535369,9.157917,10.954544,12.487898,10.059473

What is the average population of a county per state, based on the 2010 census?

In [59]:
second_df = df.groupby('CTYNAME').first()
second_df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
CTYNAME,,,,,,,,,,,,,,,,,,,,,
Abbeville County,50,3,5,45,1,South Carolina,25417,25416,25338,25105,...,-6.779930,-4.027434,-3.838158,-1.643320,-0.481367,-6.264497,-3.349549,-3.078522,-0.761538,0.401139
Acadia Parish,50,3,7,22,1,Louisiana,61773,61773,61856,61763,...,-4.821265,-3.074110,1.145392,1.075243,-4.493304,-4.190294,-2.685802,1.580964,1.588792,-3.981611
Accomack County,50,3,5,51,1,Virginia,33164,33164,33165,33287,...,1.625233,-2.312278,-9.650326,-0.090905,-1.606767,3.280563,-0.030030,-7.659947,2.212021,0.848858
Ada County,50,4,8,16,1,Idaho,392365,392365,393464,401088,...,10.320281,11.372713,11.122419,15.596132,8.914614,11.752535,13.249236,13.051275,17.773330,11.081716
Adair County,50,2,4,19,1,Iowa,7682,7682,7665,7562,...,-9.062849,-6.644518,-0.804074,3.231670,-21.987026,-9.062849,-6.644518,-0.804074,3.231670,-21.987026

In [16]:
df.groupby('STNAME')['CENSUS2010POP'].mean()

STNAME
Alabama                  71339.343284
Alaska                   24490.724138
Arizona                 426134.466667
Arkansas                 38878.906667
California              642309.586207
Colorado                 78581.187500
Connecticut             446762.125000
Delaware                299311.333333
District of Columbia    601723.000000
Florida                 280616.567164
Georgia                  60928.635220
Hawaii                  272060.200000
Idaho                    35626.863636
Illinois                125790.509804
Indiana                  70476.108696
Iowa                     30771.262626
Kansas                   27172.552381
Kentucky                 36161.391667
Louisiana                70833.937500
Maine                    83022.562500
Maryland                240564.666667
Massachusetts           467687.785714
Michigan                119080.000000
Minnesota                60964.655172
Mississippi              36186.548780
Missouri                 52077.626087
Montana                  17668.125000
Nebraska                 19638.075269
Nevada                  158855.941176
New Hampshire           131647.000000
New Jersey              418661.619048
New Mexico               62399.363636
New York                312550.032258
North Carolina           95354.830000
North Dakota             12690.396226
Ohio                    131096.636364
Oklahoma                 48718.844156
Oregon                  106418.722222
Pennsylvania            189587.746269
Rhode Island            210513.400000
South Carolina          100551.391304
South Dakota             12336.060606
Tennessee                66801.105263
Texas                    98998.271654
Utah                     95306.379310
Vermont                  44695.785714
Virginia                 60111.293233
Washington              172424.102564
West Virginia            33690.800000
Wisconsin                78985.916667
Wyoming                  24505.478261
Name: CENSUS2010POP, dtype: float64

The `groupby` output will have an index or multi-index on rows corresponding to your chosen grouping variables. To avoid setting this index, pass `as_index=False` to the groupby operation.

In [61]:
df = df[df['SUMLEV']==50]
df.groupby('STNAME', as_index=False)['CENSUS2010POP'].mean()

                  STNAME  CENSUS2010POP
0                Alabama   71339.343284
1                 Alaska   24490.724138
2                Arizona  426134.466667
3               Arkansas   38878.906667
4             California  642309.586207
5               Colorado   78581.187500
6            Connecticut  446762.125000
7               Delaware  299311.333333
8   District of Columbia  601723.000000
9                Florida  280616.567164
10               Georgia   60928.635220
11                Hawaii  272060.200000
12                 Idaho   35626.863636
13              Illinois  125790.509804
14               Indiana   70476.108696
15                  Iowa   30771.262626
16                Kansas   27172.552381
17              Kentucky   36161.391667
18             Louisiana   70833.937500
19                 Maine   83022.562500
20              Maryland  240564.666667
21         Massachusetts  467687.785714
22              Michigan  119080.000000
23             Minnesota   60964.655172
24           Mississippi   36186.548780
25              Missouri   52077.626087
26               Montana   17668.125000
27              Nebraska   19638.075269
28                Nevada  158855.941176
29         New Hampshire  131647.000000
30            New Jersey  418661.619048
31            New Mexico   62399.363636
32              New York  312550.032258
33        North Carolina   95354.830000
34          North Dakota   12690.396226
35                  Ohio  131096.636364
36              Oklahoma   48718.844156
37                Oregon  106418.722222
38          Pennsylvania  189587.746269
39          Rhode Island  210513.400000
40        South Carolina  100551.391304
41          South Dakota   12336.060606
42             Tennessee   66801.105263
43                 Texas   98998.271654
44                  Utah   95306.379310
45               Vermont   44695.785714
46              Virginia   60111.293233
47            Washington  172424.102564
48         West Virginia   33690.800000
49             Wisconsin   78985.916667
50               Wyoming   24505.478261

We have already seen how we can select a group using the `groups` dictionary and the corresponding key. Another way to select a group is to use `GroupBy.get_group()`.  This function returns a DataFrame containing the data of the given group.

In the following example we get the DataFrame of the `Florida` group.

In [18]:
df.groupby('STNAME').get_group('Florida')

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
330,50,3,5,12,1,Florida,Alachua County,247336,247335,247625,...,-0.703782,-2.349623,-3.683745,2.605096,3.001073,4.439860,2.648811,1.683432,8.650960,8.941260
331,50,3,5,12,3,Florida,Baker County,27115,27115,27076,...,-5.059832,-5.542418,-5.366097,-0.997672,4.912474,-4.727434,-5.246822,-5.070037,-0.591213,5.315736
332,50,3,5,12,5,Florida,Bay County,168852,168852,169247,...,-1.605222,6.651696,11.298262,16.777821,10.340292,-0.460321,9.134372,13.120748,18.650194,12.560429
333,50,3,5,12,7,Florida,Bradford County,28520,28520,28539,...,-4.840746,-52.616436,-10.476049,-8.100642,9.401406,-4.489968,-52.328718,-10.105871,-7.727341,9.774478
334,50,3,5,12,9,Florida,Brevard County,543376,543378,543966,...,0.858228,5.775688,6.853910,9.620504,19.500618,2.784187,7.807162,8.843637,11.992239,21.872194
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392,50,3,5,12,125,Florida,Union County,15535,15535,15534,...,-20.865156,-0.721951,-9.037237,7.669675,5.986448,-20.020150,0.196896,-8.047759,8.793679,7.104796
393,50,3,5,12,127,Florida,Volusia County,494593,494597,494610,...,1.275909,6.550949,9.568448,13.055249,21.183367,3.215047,8.436768,11.453294,15.356319,23.435672
394,50,3,5,12,129,Florida,Wakulla County,30776,30783,30835,...,-0.388519,-6.802501,3.075977,9.909563,0.127117,-0.032377,-6.316608,3.594036,10.518889,0.730924
395,50,3,5,12,131,Florida,Walton County,55043,55043,55248,...,4.184327,25.181289,33.138001,28.714541,25.874131,5.176301,26.208374,34.251739,29.987436,27.105471
396,50,3,5,12,133,Florida,Washington County,24896,24896,24754,...,-5.796984,10.967886,-8.778317,-5.505710,11.155898,-5.756446,11.008357,-8.697411,-5.301794,11.359472

### Applying specific functions to various columns in groups

Please note that `agg` and `aggregate` can be used interchangeably. `agg` is shorter, so let's use it.

Instructions for aggregation are provided in the form of a python dictionary or list. The dictionary keys are used to specify the columns on which you want to perform operations and the dictionary values to specify the function to be performed.

In [19]:
df.groupby('STNAME').agg({'CENSUS2010POP': 'mean'})

                      CENSUS2010POP
STNAME
Alabama                71339.343284
Alaska                 24490.724138
Arizona               426134.466667
Arkansas               38878.906667
California            642309.586207
Colorado               78581.187500
Connecticut           446762.125000
Delaware              299311.333333
District of Columbia  601723.000000
Florida               280616.567164
Georgia                60928.635220
Hawaii                272060.200000
Idaho                  35626.863636
Illinois              125790.509804
Indiana                70476.108696
Iowa                   30771.262626
Kansas                 27172.552381
Kentucky               36161.391667
Louisiana              70833.937500
Maine                  83022.562500
Maryland              240564.666667
Massachusetts         467687.785714
Michigan              119080.000000
Minnesota              60964.655172
Mississippi            36186.548780
Missouri               52077.626087
Montana                17668.125000
Nebraska               19638.075269
Nevada                158855.941176
New Hampshire         131647.000000
New Jersey            418661.619048
New Mexico             62399.363636
New York              312550.032258
North Carolina         95354.830000
North Dakota           12690.396226
Ohio                  131096.636364
Oklahoma               48718.844156
Oregon                106418.722222
Pennsylvania          189587.746269
Rhode Island          210513.400000
South Carolina        100551.391304
South Dakota           12336.060606
Tennessee              66801.105263
Texas                  98998.271654
Utah                   95306.379310
Vermont                44695.785714
Virginia               60111.293233
Washington            172424.102564
West Virginia          33690.800000
Wisconsin              78985.916667
Wyoming                24505.478261

In [20]:
df = df[df['SUMLEV']==50]
df.groupby('STNAME').agg(
        {
            'CENSUS2010POP': 'mean',
            'CTYNAME': 'count'
        }
    )

                      CENSUS2010POP  CTYNAME
STNAME
Alabama                71339.343284       67
Alaska                 24490.724138       29
Arizona               426134.466667       15
Arkansas               38878.906667       75
California            642309.586207       58
Colorado               78581.187500       64
Connecticut           446762.125000        8
Delaware              299311.333333        3
District of Columbia  601723.000000        1
Florida               280616.567164       67
Georgia                60928.635220      159
Hawaii                272060.200000        5
Idaho                  35626.863636       44
Illinois              125790.509804      102
Indiana                70476.108696       92
Iowa                   30771.262626       99
Kansas                 27172.552381      105
Kentucky               36161.391667      120
Louisiana              70833.937500       64
Maine                  83022.562500       16
Maryland              240564.666667       24
Massachusetts         467687.785714       14
Michigan              119080.000000       83
Minnesota              60964.655172       87
Mississippi            36186.548780       82
Missouri               52077.626087      115
Montana                17668.125000       56
Nebraska               19638.075269       93
Nevada                158855.941176       17
New Hampshire         131647.000000       10
New Jersey            418661.619048       21
New Mexico             62399.363636       33
New York              312550.032258       62
North Carolina         95354.830000      100
North Dakota           12690.396226       53
Ohio                  131096.636364       88
Oklahoma               48718.844156       77
Oregon                106418.722222       36
Pennsylvania          189587.746269       67
Rhode Island          210513.400000        5
South Carolina        100551.391304       46
South Dakota           12336.060606       66
Tennessee              66801.105263       95
Texas                  98998.271654      254
Utah                   95306.379310       29
Vermont                44695.785714       14
Virginia               60111.293233      133
Washington            172424.102564       39
West Virginia          33690.800000       55
Wisconsin              78985.916667       72
Wyoming                24505.478261       23

The aggregation dictionary syntax is flexible and can be defined before the operation. You can also define functions inline using `lambda` functions to extract statistics that are not provided by the built-in options.

In [21]:
# Define the aggregation procedure outside of the groupby operation
aggregations = {
    'CTYNAME': 'sum', # or try lambda here too: lambda names: '; '.join(names)
    'CENSUS2010POP': lambda x: sum(x)/1_000_000 # population total per 1 million inhabitants
}
df.groupby('STNAME').agg(aggregations)

,CTYNAME,CENSUS2010POP
STNAME,,
Alabama,Autauga CountyBaldwin CountyBarbour CountyBibb...,4.779736
Alaska,Aleutians East BoroughAleutians West Census Ar...,0.710231
Arizona,Apache CountyCochise CountyCoconino CountyGila...,6.392017
Arkansas,Arkansas CountyAshley CountyBaxter CountyBento...,2.915918
California,Alameda CountyAlpine CountyAmador CountyButte ...,37.253956
Colorado,Adams CountyAlamosa CountyArapahoe CountyArchu...,5.029196
Connecticut,Fairfield CountyHartford CountyLitchfield Coun...,3.574097
Delaware,Kent CountyNew Castle CountySussex County,0.897934
District of Columbia,District of Columbia,0.601723
Florida,Alachua CountyBaker CountyBay CountyBradford C...,18.801310
Georgia,Appling CountyAtkinson CountyBacon CountyBaker...,9.687653
Hawaii,Hawaii CountyHonolulu CountyKalawao CountyKaua...,1.360301
Idaho,Ada CountyAdams CountyBannock CountyBear Lake ...,1.567582
Illinois,Adams CountyAlexander CountyBond CountyBoone C...,12.830632
Indiana,Adams CountyAllen CountyBartholomew CountyBent...,6.483802
Iowa,Adair CountyAdams CountyAllamakee CountyAppano...,3.046355
Kansas,Allen CountyAnderson CountyAtchison CountyBarb...,2.853118
Kentucky,Adair CountyAllen CountyAnderson CountyBallard...,4.339367
Louisiana,Acadia ParishAllen ParishAscension ParishAssum...,4.533372
Maine,Androscoggin CountyAroostook CountyCumberland ...,1.328361
Maryland,Allegany CountyAnne Arundel CountyBaltimore Co...,5.773552
Massachusetts,Barnstable CountyBerkshire CountyBristol Count...,6.547629
Michigan,Alcona CountyAlger CountyAllegan CountyAlpena ...,9.883640
Minnesota,Aitkin CountyAnoka CountyBecker CountyBeltrami...,5.303925
Mississippi,Adams CountyAlcorn CountyAmite CountyAttala Co...,2.967297
Missouri,Adair CountyAndrew CountyAtchison CountyAudrai...,5.988927
Montana,Beaverhead CountyBig Horn CountyBlaine CountyB...,0.989415
Nebraska,Adams CountyAntelope CountyArthur CountyBanner...,1.826341
Nevada,Churchill CountyClark CountyDouglas CountyElko...,2.700551
New Hampshire,Belknap CountyCarroll CountyCheshire CountyCoo...,1.316470
New Jersey,Atlantic CountyBergen CountyBurlington CountyC...,8.791894
New Mexico,Bernalillo CountyCatron CountyChaves CountyCib...,2.059179
New York,Albany CountyAllegany CountyBronx CountyBroome...,19.378102
North Carolina,Alamance CountyAlexander CountyAlleghany Count...,9.535483
North Dakota,Adams CountyBarnes CountyBenson CountyBillings...,0.672591
Ohio,Adams CountyAllen CountyAshland CountyAshtabul...,11.536504
Oklahoma,Adair CountyAlfalfa CountyAtoka CountyBeaver C...,3.751351
Oregon,Baker CountyBenton CountyClackamas CountyClats...,3.831074
Pennsylvania,Adams CountyAllegheny CountyArmstrong CountyBe...,12.702379
Rhode Island,Bristol CountyKent CountyNewport CountyProvide...,1.052567
South Carolina,Abbeville CountyAiken CountyAllendale CountyAn...,4.625364
South Dakota,Aurora CountyBeadle CountyBennett CountyBon Ho...,0.814180
Tennessee,Anderson CountyBedford CountyBenton CountyBled...,6.346105
Texas,Anderson CountyAndrews CountyAngelina CountyAr...,25.145561
Utah,Beaver CountyBox Elder CountyCache CountyCarbo...,2.763885
Vermont,Addison CountyBennington CountyCaledonia Count...,0.625741
Virginia,Accomack CountyAlbemarle CountyAlleghany Count...,7.994802
Washington,Adams CountyAsotin CountyBenton CountyChelan C...,6.724540
West Virginia,Barbour CountyBerkeley CountyBoone CountyBraxt...,1.852994
Wisconsin,Adams CountyAshland CountyBarron CountyBayfiel...,5.686986
Wyoming,Albany CountyBig Horn CountyCampbell CountyCar...,0.563626

### Applying multiple functions to columns in groups

To apply multiple functions to a single column in your grouped data, expand the syntax above to pass in a list of functions as the value in your aggregation dataframe:

In [22]:
df = df[df['SUMLEV']==50]
df.groupby('STNAME').agg(
        {
            'CENSUS2010POP':  ['min', 'max', 'sum'],
            'CTYNAME':  ['min', 'max', 'count'],
        }
    )

                     CENSUS2010POP                                    CTYNAME  \
                               min      max       sum                     min
STNAME
Alabama                       9045   658466   4779736          Autauga County
Alaska                         662   291826    710231  Aleutians East Borough
Arizona                       8437  3817117   6392017           Apache County
Arkansas                      5368   382748   2915918         Arkansas County
California                    1175  9818605  37253956          Alameda County
Colorado                       699   622263   5029196            Adams County
Connecticut                 118428   916829   3574097        Fairfield County
Delaware                    162310   538479    897934             Kent County
District of Columbia        601723   601723    601723    District of Columbia
Florida                       8365  2496435  18801310          Alachua County
Georgia                       1717   920581   9687653          Appling County
Hawaii                          90   953207   1360301           Hawaii County
Idaho                          982   392365   1567582              Ada County
Illinois                      4320  5194675  12830632            Adams County
Indiana                       6128   903393   6483802            Adams County
Iowa                          4029   430640   3046355            Adair County
Kansas                        1247   544179   2853118            Allen County
Kentucky                      2282   741096   4339367            Adair County
Louisiana                     5252   440171   4533372           Acadia Parish
Maine                        17535   281674   1328361     Androscoggin County
Maryland                     20197   971777   5773552         Allegany County
Massachusetts                10172  1503085   6547629       Barnstable County
Michigan                      2156  1820584   9883640           Alcona County
Minnesota                     3558  1152425   5303925           Aitkin County
Mississippi                   1406   245285   2967297            Adams County
Missouri                      2171   998954   5988927            Adair County
Montana                        494   147972    989415       Beaverhead County
Nebraska                       460   517110   1826341            Adams County
Nevada                         783  1951269   2700551             Carson City
New Hampshire                33055   400721   1316470          Belknap County
New Jersey                   66083   905116   8791894         Atlantic County
New Mexico                     695   662564   2059179       Bernalillo County
New York                      4836  2504700  19378102           Albany County
North Carolina                4407   919628   9535483         Alamance County
North Dakota                   727   149778    672591            Adams County
Ohio                         13435  1280122  11536504            Adams County
Oklahoma                      2475   718633   3751351            Adair County
Oregon                        1441   735334   3831074            Baker County
Pennsylvania                  5085  1526006  12702379            Adams County
Rhode Island                 49875   626667   1052567          Bristol County
South Carolina               10233   451225   4625364        Abbeville County
South Dakota                  1006   169468    814180           Aurora County
Tennessee                     5077   927644   6346105         Anderson County
Texas                           82  4092459  25145561         Anderson County
Utah                          1059  1029655   2763885           Beaver County
Vermont                       6306   156545    625741          Addison County
Virginia                      2321  1081726   7994802         Accomack County
Washington                    2266  1931249   6724540            Adams County
West Virginia                 5717   193063   1852994          Barbour County
Wisconsin                     4232   947735   5686986            Adams County
Wyoming                       2484    91738    563626           Albany County


                                            max count
STNAME
Alabama                          Winston County    67
Alaska                Yukon-Koyukuk Census Area    29
Arizona                             Yuma County    15
Arkansas                            Yell County    75
California                          Yuba County    58
Colorado                            Yuma County    64
Connecticut                      Windham County     8
Delaware                          Sussex County     3
District of Columbia       District of Columbia     1
Florida                       Washington County    67
Georgia                            Worth County   159
Hawaii                              Maui County     5
Idaho                         Washington County    44
Illinois                        Woodford County   102
Indiana                          Whitley County    92
Iowa                              Wright County    99
Kansas                         Wyandotte County   105
Kentucky                        Woodford County   120
Louisiana                           Winn Parish    64
Maine                               York County    16
Maryland                       Worcester County    24
Massachusetts                  Worcester County    14
Michigan                         Wexford County    83
Minnesota                Yellow Medicine County    87
Mississippi                        Yazoo County    82
Missouri                          Wright County   115
Montana                      Yellowstone County    56
Nebraska                            York County    93
Nevada                        White Pine County    17
New Hampshire                   Sullivan County    10
New Jersey                        Warren County    21
New Mexico                      Valencia County    33
New York                           Yates County    62
North Carolina                    Yancey County   100
North Dakota                    Williams County    53
Ohio                             Wyandot County    88
Oklahoma                        Woodward County    77
Oregon                           Yamhill County    36
Pennsylvania                        York County    67
Rhode Island                  Washington County     5
South Carolina                      York County    46
South Dakota                     Ziebach County    66
Tennessee                         Wilson County    95
Texas                             Zavala County   254
Utah                               Weber County    29
Vermont                          Windsor County    14
Virginia                            York County   133
Washington                        Yakima County    39
West Virginia                    Wyoming County    55
Wisconsin                           Wood County    72
Wyoming                           Weston County    23

The `agg()` syntax is flexible and easy to use. Remember that you can pass custom and lambda functions to your list of aggregated calculations, and each will be passed the values from the column in your grouped data.

## Renaming grouped aggregation columns

Pandas supports group aggregation with relabelling by **named aggregation** with simple tuples. Python tuples are used to provide the column name to work on along with the function to **apply**.

In [23]:
df = df[df['SUMLEV']==50]
df.groupby('STNAME').agg(
        # get min of the population for each group
        pop_min= ('CENSUS2010POP', min),
        # get max of the population for each group
        pop_max= ('CENSUS2010POP', max),
        # get sum of the population for each group
        pop_sum= ('CENSUS2010POP', sum),
    )

                      pop_min  pop_max   pop_sum
STNAME
Alabama                  9045   658466   4779736
Alaska                    662   291826    710231
Arizona                  8437  3817117   6392017
Arkansas                 5368   382748   2915918
California               1175  9818605  37253956
Colorado                  699   622263   5029196
Connecticut            118428   916829   3574097
Delaware               162310   538479    897934
District of Columbia   601723   601723    601723
Florida                  8365  2496435  18801310
Georgia                  1717   920581   9687653
Hawaii                     90   953207   1360301
Idaho                     982   392365   1567582
Illinois                 4320  5194675  12830632
Indiana                  6128   903393   6483802
Iowa                     4029   430640   3046355
Kansas                   1247   544179   2853118
Kentucky                 2282   741096   4339367
Louisiana                5252   440171   4533372
Maine                   17535   281674   1328361
Maryland                20197   971777   5773552
Massachusetts           10172  1503085   6547629
Michigan                 2156  1820584   9883640
Minnesota                3558  1152425   5303925
Mississippi              1406   245285   2967297
Missouri                 2171   998954   5988927
Montana                   494   147972    989415
Nebraska                  460   517110   1826341
Nevada                    783  1951269   2700551
New Hampshire           33055   400721   1316470
New Jersey              66083   905116   8791894
New Mexico                695   662564   2059179
New York                 4836  2504700  19378102
North Carolina           4407   919628   9535483
North Dakota              727   149778    672591
Ohio                    13435  1280122  11536504
Oklahoma                 2475   718633   3751351
Oregon                   1441   735334   3831074
Pennsylvania             5085  1526006  12702379
Rhode Island            49875   626667   1052567
South Carolina          10233   451225   4625364
South Dakota             1006   169468    814180
Tennessee                5077   927644   6346105
Texas                      82  4092459  25145561
Utah                     1059  1029655   2763885
Vermont                  6306   156545    625741
Virginia                 2321  1081726   7994802
Washington               2266  1931249   6724540
West Virginia            5717   193063   1852994
Wisconsin                4232   947735   5686986
Wyoming                  2484    91738    563626

The GroupBy functionality in Pandas is performant and is well documented in the official [docs](https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html).