# Classes

In [2]:
class Person:
    def __init__(self, age):
        selg._age = age

In [3]:
from decimal import Decimal

In [93]:
class Employee:
    def __init__(self, first_name, last_name, ssn, salary):
        self._first_name = first_name
        self._last_name = last_name
        self._ssn = ssn
        self.salary = salary
        
    def get_name(self):
        return self._last_name
    
    def set_name(self, name):
        self._last_name = name
    
    def __str__(self):
        return self._first_name + " " + self._last_name
    
    def __repr__(self):
        return self._last_name + " " + self._first_name

In [97]:
e1 = Employee("Sarah", "Vanderguard", 111001, 250000)
e1._last_name = "Van Hyugens"
e1.get_name()
e1.set_name("Hutchinson")
e1.get_name()

repr(e1)

'<__main__.Employee object at 0x7fdd057eadf0>'

In [88]:
f()

Hutchinson Sarah

In [6]:
class CommissionEmployee:
    """An employee who gets paid commission based on gross sales."""

    def __init__(self, first_name, last_name, ssn, 
                 gross_sales, commission_rate):
        """Initialize CommissionEmployee's attributes."""
        self._first_name = first_name
        self._last_name = last_name
        self._ssn = ssn
        self.gross_sales = gross_sales  # validate via property
        self.commission_rate = commission_rate  # validate via property

    @property
    def first_name(self):
        return self._first_name

    @property
    def last_name(self):
        return self._last_name

    @property
    def ssn(self):
        return self._ssn

    @property
    def gross_sales(self):
        return self._gross_sales

    @gross_sales.setter
    def gross_sales(self, sales):
        """Set gross sales or raise ValueError if invalid."""
        if sales < Decimal('0.00'):
            raise ValueError('Gross sales must be >= to 0')
        
        self._gross_sales = sales
        
    @property
    def commission_rate(self):
        return self._commission_rate

    @commission_rate.setter
    def commission_rate(self, rate):
        """Set commission rate or raise ValueError if invalid."""
        if not (Decimal('0.0') < rate < Decimal('1.0')):
            raise ValueError(
               'Interest rate must be greater than 0 and less than 1')
        
        self._commission_rate = rate

    def earnings(self):
        """Calculate earnings."""   
        return self.gross_sales * self.commission_rate

    def __repr__(self):
        """Return string representation for repr()."""
        return ('CommissionEmployee: ' + 
            f'{self.first_name} {self.last_name}\n' +
            f'social security number: {self.ssn}\n' +
            f'gross sales: {self.gross_sales:.2f}\n' +
            f'commission rate: {self.commission_rate:.2f}')

In [7]:
ce1 = CommissionEmployee("David", "Stuborn", 12345, 2000000, .02)
ce1.gross_sales = 100
ce1.earnings()
print(ce1)

CommissionEmployee: David Stuborn
social security number: 12345
gross sales: 100.00
commission rate: 0.02

In [55]:
class Person:
    def __init__(self, age):
        self._age = age
    
    @property
    def age(self):
        return self._age
    @property
    def year(self):
        return 2021 - self.age
    
persons = {
    Person(16),
    Person(27),
    Person(26),
    Person(14),
    Person(14),
    Person(12)
}

In [72]:
# max returns the highest value or an item with the highest value in an iterable
# the person in the list with the highest year is the youngest one
result = max(persons, key=lambda p: p.year).year
result

2009

In [80]:
# we want the lowest value in terms of year and therefore the oldest one
youngest = min(persons, key=lambda p: p.year).year
youngest

1994