In [83]:
import pandas as pd
import numpy as np

In [84]:

df = pd.DataFrame({
    "A":[13213,23,123,42],
    "B":[1,2,3,4],
    "C":[1,2,3,1],
})

df

       A  B  C
0  13213  1  1
1     23  2  2
2    123  3  3
3     42  4  1

In [85]:
df.loc[:, 'B']

0    1
1    2
2    3
3    4
Name: B, dtype: int64

In [86]:
df = df.sort_values(by=['A', 'B'], ascending=[True,False])
df

       A  B  C
1     23  2  2
3     42  4  1
2    123  3  3
0  13213  1  1

In [88]:
series_1 = pd.Series([2.0,np.nan,2.0,9.0,3.0,np.nan,7.0])
series_1.mean()

4.6

In [82]:
for i in series_1:
    print(i)

2.0
NaN
2.0
9.0
3.0
NaN
7.0

In [103]:
df.

<bound method DataFrame.melt of        A  B  C
1     23  2  2
3     42  4  1
2    123  3  3
0  13213  1  1>

In [100]:
df2 = pd.DataFrame({
    "recipient":["Bri", "Kate", "Lynnie", "Willi"],
})