In [20]:
# range(lb,ub), wobei die obere Grenze exklusive ist.
# Also range() == [a,b) : a <= x < b (rechtsoffenes Intervall
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [28]:
x = 2
y = 3.2
z = 2 * 3.2
type(z)

float

In [32]:
# range(a,b,step_expression)
for i in range(7,15,2):
    print(i)

7
9
11
13

In [40]:
# var iterates over a string where each char is a string dt
var = 131
ds = 0
for i in str(var):
    print(type(i))

<class 'str'>
<class 'str'>
<class 'str'>

In [44]:
# in order to sum up each digit in var we need to 
# convert 131 into a string, becasuse integer datatypes are not iterable
# then we create var which holds the 
var = 131
ds = 0
for i in str(var):
    ds += int(i)
ds

5

In [50]:
result = list(map(int, "14823"))
result
list(map(str, "1234"))

['1', '2', '3', '4']

In [68]:
i = 0
def f(x):
    return x * 2

result = list(map(f,map(f,range(5))))
result

[0, 4, 8, 12, 16]

In [70]:
result = list(map(lambda x : x % 2 != 0, [0,1,2,3,4,5,6]))
result

[False, True, False, True, False, True, False]

In [72]:
def sort_num(number):
    return str(sorted(str(number), reverse=True))
sort_num(1234)

"['4', '3', '2', '1']"