In [151]:
import pandas as pd
import numpy as np
import random
import math

# Numpy

In [3]:
# wir können eine 2x2 Matrix einer länge von 4
A = np.arange(4).reshape(2,2)
for i in A:
    for j in i:
        print(j)

0
1
2
3

In [4]:
A

array([[0, 1],
       [2, 3]])

In [5]:
B = np.random.randint(1,10,10).reshape(5,2)
for i in B:
    for j in i:
        print(j)

9
9
3
5
1
2
3
1
1
3

In [6]:
B.size

10

In [7]:
C = np.random.randint(1,10,10).reshape(2,5)
C

array([[8, 2, 7, 7, 1],
       [8, 4, 1, 5, 7]])

In [8]:
A.size

4

In [9]:
A.itemsize

8

# Pandas

In [32]:
series1 = pd.Series(np.arange(10))
type(series1)
series2 = pd.Series(np.arange(5))
series2
tuple1 = (2,2)
type(tuple1)

tuple

In [34]:
series1.append(tuple1)

TypeError: cannot concatenate object of type '<class 'int'>'; only Series and DataFrame objs are valid

In [26]:
list1 = []
list1.append(np.random.randint(10))
list1

[5]

In [49]:
for i in range(5):
    print(random.randint(1,10))

7
5
8
9
3

In [59]:
list_1  = [x * 2 for x in [1,2,3,4,5,6,7] if x % 2 == 0]

In [71]:
series_1 = pd.Series(np.array([3,np.NaN,9,3,9,np.NaN,8]))
series_1.mean()

6.4

In [72]:
pd.Series(np.array([3,0,9,3,9,0,8])).mean()

4.571428571428571

In [93]:
grades_dict = {'Wally': [87, 96, 70], 'Eva': [100, 87, 90],
               'Sam': [94, 77, 90], 'Katie': [100, 81, 82],
               'Bob': [83, 65, 85]}
df_grades = pd.DataFrame(grades_dict)
df_grades

   Wally  Eva  Sam  Katie  Bob
0     87  100   94    100   83
1     96   87   77     81   65
2     70   90   90     82   85

In [152]:
5000*0.05

250.0

In [153]:
5000*1.20

6000.0

In [154]:
5000*0.95

4750.0

In [156]:
5000/5

1000.0

In [159]:
1150 * 0.90

1035.0

In [161]:
1150 - 1035

115