In [2]:
import pandas as pd
import numpy as np

In [3]:

df = pd.DataFrame({
    "A":[13213,23,123,42],
    "B":[1,2,3,4],
    "C":[1,2,3,1],
})

df

       A  B  C
0  13213  1  1
1     23  2  2
2    123  3  3
3     42  4  1

In [4]:
df.iloc[2]

A    123
B      3
C      3
Name: 2, dtype: int64

In [5]:
df = df.sort_values(by=['A', 'B'], ascending=[True,False])
df

       A  B  C
1     23  2  2
3     42  4  1
2    123  3  3
0  13213  1  1

In [6]:
series_1 = pd.Series([2.0,np.nan,2.0,9.0,3.0,np.nan,7.0])
series_1.mean()

4.6

In [7]:
for i in series_1:
    print(i)

2.0
nan
2.0
9.0
3.0
nan
7.0

In [10]:
df2 = pd.DataFrame({
    "recipient":["Bri", "Kate", "Lynnie", "Willi"],
})

In [11]:
df_1 = pd.DataFrame(pd.Series(np.arange(10)), columns=["Column1"])
df_1["Column2"] = pd.Series(np.arange(8))

In [23]:
x = np.array(np.arange(1,5), shape=(2,2))
x

TypeError: array() got an unexpected keyword argument 'shape'

In [15]:
type(x.shape) # x hat die datenstruktur eines tuples

tuple

In [16]:
x.shape # tupel hat nur einen eintrag. If zugriff auf den zweiten eintrag via shape[1], then error

(4,)

In [17]:
x.reshape(2,2) # Gives a new shape to an array !!without changing its data!!.

array([[1, 2],
       [3, 4]])

In [18]:
x.shape # gibt den ersten eintrag des tuples zur√ºck, da davor reshape, no changes to struct of x

(4,)

In [19]:
x.resize(2,2) # return a new array with the specified shape, size is changed!!

In [20]:
x.shape

(2, 2)

In [21]:
x.shape[0]

2

In [22]:
empty_list = []
def calc(list_para):
    for i in list_para:
        print(i)
print(calc(empty_list))

None