In [56]:
import numpy as np
import pandas as pd
import time

In [57]:
from sklearn.datasets import fetch_20newsgroups
twenty_train = fetch_20newsgroups(subset='train', categories=["comp.graphics"], shuffle=True,random_state=42)
print(twenty_train.data[0])

From: bbs.mirage@tsoft.net (Jerry Lee)
Subject: Cobra 2.0 1-b-1 Video card HELP ME!!!!
Organization: The TSoft BBS and Public Access Unix, +1 415 969 8238
Lines: 22

Does ANYONE out there in Net-land have any information on the Cobra 2.20
card?  The sticker on the end of the card reads
        Model: Cobra 1-B-1
        Bios:  Cobra v2.20

I Havn't been able to find anything about it from anyone!  If you have
any information on how to get a hold of the company which produces the
card or know where any drivers are for it, PLEASE let me know!

As far as I can tell, it's a CGA card that is taking up 2 of my 16-bit
ISA slots but when I enable the test patterns, it displays much more than
the usualy 4 CGA colors... At least 16 from what I can count.. Thanks!

              .------------------------------------------.
              : Internet: jele@eis.calstate.edu          :
              :           bbs.mirage@gilligan.tsoft.net  :
              :           bbs.mirage@tsoft.sf-bay.org    :
              :           mirage@thetech.com             :
              : UUCP    : apple.com!tsoft!bbs.mirage     :
              `------------------------------------------'

                    Computer and Video Imaging Major

In [58]:
train_df = pd.DataFrame(twenty_train.data, columns=["Text"])
twenty_train.target_names

['comp.graphics']

In [59]:
twenty_train.target

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [62]:
%

UsageError: Line magic function `%` not found.

In [98]:
%%timeit -n 100
# we do a list comprehension for creating a list
targets = [twenty_train.target_names[x] for x in twenty_train.target]

307 µs ± 27.6 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [91]:
pd.Series(data=targets)

0      comp.graphics
1      comp.graphics
2      comp.graphics
3      comp.graphics
4      comp.graphics
           ...
579    comp.graphics
580    comp.graphics
581    comp.graphics
582    comp.graphics
583    comp.graphics
Length: 584, dtype: object

In [100]:
# we extend the columnlenght of our dataframe by "target" and assign the list values of the target
train_df['target'] = pd.Series(data=targets)
train_df # we loaded the dataset into a dataframe

                                                  Text         target
0    From: bbs.mirage@tsoft.net (Jerry Lee)\nSubjec...  comp.graphics
1    From: zyeh@caspian.usc.edu (zhenghao yeh)\nSub...  comp.graphics
2    From: lau@auriga.rose.brandeis.edu (frankie t....  comp.graphics
3    From: weilej@cary115.its.rpi.edu (Jason Lee We...  comp.graphics
4    From: clldomps@cs.ruu.nl (Louis van Dompselaar...  comp.graphics
..                                                 ...            ...
579  From: news@magnus.acs.ohio-state.edu\nSubject:...  comp.graphics
580  From: u895027@franklin.cc.utas.edu.au (Mark Ma...  comp.graphics
581  Subject: XV for MS-DOS !!!\nFrom: NO E-MAIL AD...  comp.graphics
582  From: oehler@yar.cs.wisc.edu (Wonko the Sane)\...  comp.graphics
583  From: ani@ms.uky.edu (Aniruddha B. Deglurkar)\...  comp.graphics

[584 rows x 2 columns]

In [107]:
from collections import Counter
lst = ["Speed", "Performance", "Good", "Fast", "Slow", "Bad", "High", "Low"]
c = Counter(lst)
print(c)

Counter({'Speed': 1, 'Performance': 1, 'Good': 1, 'Fast': 1, 'Slow': 1, 'Bad': 1, 'High': 1, 'Low': 1})

In [120]:
from sklearn.feature_extraction.text import CountVectorizer, HashingVectorizer
count_vectorizer = CountVectorizer()
X_train = count_vectorizer.fit_transform(train_df["Text"])
X_train

<584x13756 sparse matrix of type '<class 'numpy.int64'>'
	with 71794 stored elements in Compressed Sparse Row format>

In [130]:
hash_vectorizer = HashingVectorizer()
X_train = hash_vectorizer.fit_transform(train_df["Text"])

In [174]:
from sklearn import datasets
iris = datasets.load_iris()
df = pd.DataFrame(iris.data, columns=iris.feature_names)
df.shape

(150, 4)

each row is an object, whereas each column is an attribute / feature<br>
the more features you have the higher the dimensionality?

In [176]:
# get the labels
labels = pd.DataFrame(iris.target)
labels.sample(5)

     0
44   0
77   1
147  2
24   0
5    0

In [177]:
labels = labels.apply(lambda x : iris.target_names[x])
type(labels[0])

pandas.core.series.Series

In [178]:
# train set and test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.iloc[:,:2], labels[0])
X_test.shape

(38, 2)

In [185]:
from sklearn.neighbors import KNeighborsClassifier
n_neighbors = 3
clf = KNeighborsClassifier(n_neighbors)
clf.fit(X_train, y_train)
predictions = clf.predict(X_test)
predictions[:10]

array(['virginica', 'virginica', 'versicolor', 'virginica', 'versicolor',
       'virginica', 'virginica', 'virginica', 'setosa', 'versicolor'],
      dtype=object)

In [186]:
22 % 10

2

In [195]:
y = "12" + str(12)
z = int(y)
type(z)

int

In [194]:
x = 12

if x > 12:
    print('a')
elif x > 10:
    print('b')
elif x > 5:
    print('c')
else:
    print('d')
if x < 12:
    print('e')
else:
    print('f')

b
f

In [196]:
36 % 12

0

In [201]:
def sum():
    for i in range(1,1):
        return i

In [204]:
type(sum())

NoneType

In [205]:
number = 124
str(sorted(str(number), reverse=True))

"['4', '2', '1']"

In [206]:
0 % 2

0